body{
    font-family: Arial, Sans-Serif, serif;
    background-color: #6a6666;
}

h1{
    color: blue;
}

form{
    background-color: #bdb5b5;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: auto;
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.81);
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgba(255, 0, 0, 0.6);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgba(255, 0, 0, 0.4);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}